root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true #remove espaço em branco.
insert_final_newline = true #Coloca uma linha no fim do codigo.
end_of_line = lf #Mantem o padrão entre SO.
